//这里写公共样式ssssssssssssssssssssssssssssssss
body {
  margin: 0;
}

#app {
  background-color: #fff;
  position        : absolute;
  top             : 0;
  left            : 0;
  right           : 0;
  bottom          : 0;
}

// ::-webkit-scrollbar {
//   /*滚动条整体样式*/
//   width: 5px;
//   /*高宽分别对应横竖滚动条的尺寸*/
//   height: 5px;
// }

// ::-webkit-scrollbar-thumb {
//   /*滚动条里面小方块*/
//   border-radius: 10px;
//   box-shadow: inset 0 0 5px rgba(228, 57, 60, 0.2);
//   background: rgba(20, 20, 50, 0.6);
//   position: absolute;
// }

// ::-webkit-scrollbar-track {
//   /*滚动条里面轨道*/
//   box-shadow: inset 0 0 5px rgba(228, 57, 60, 0.2);
//   border-radius: 10px;
//   background: #ededed;
//   position: absolute;
// }

.el-dialog__footer {
  text-align: center;
}

.cell.el-tooltip {
  text-align: center;
}

.cell {
  text-align: center;
}



.is-leaf.el-table__cell {
  background-color: rgb(218, 225, 235) !important;
  color           : rgb(51, 51, 51);
}

header.el-dialog__header{
  border-bottom: 1px solid #d5d5d5;
  margin-right: 0px;
}

.el-dialog__footer{
  .el-button {
    width: 120px;
    height: 30px;
  }
}

.el-message-box{
  button.el-button.el-button--primary {
    background-color: #1c6cdd;
  }
}

button.el-button.el-button--primary.is-link {
  color: #266bdd;
}


.el-button--primary{
  --el-button-bg-color:#1c6cdd;
  --el-button-border-color:#1c6cdd;
}

.el-pager li.is-active{
  color:#1c6cdd;
}


.iconfont {
  font-size: 20px;
}

