.userEditor {
    .footer {
        margin-top: 38px;
        text-align: center;

    }

    .pwdTip {
        .red {
            color: rgb(215, 82, 82);
        }

        .orange {
            color: orange;
        }

        .green {
            color: rgb(21, 209, 34);
        }
    }

}